mixin v(text, selected)
  if(!selected)
    output= text
  else
    output.selected= text
  if(block)
    block
  else
    | 


mixin e(text, selected)
  if(!selected)
    span.variable.editable= text
  else
    span.variable.editable.selected= text
  if(block)
    block
  else
    | 

mixin headerModel()
  header.toolbar
      .left
        +btn('plus-square')
        //+btn('plus-square-o')
        //+btn('plus')
        +btn('pencil')
      .right
        +btn('lock')
        +btn('ban')

mixin headerDocModel(name)
  header.toolbar
      .left
        +btn('plus-square')
      .left.title
          = name
      .right
        +btn('lock')
        +btn('ban')

mixin icon(name, cls)
  i(class="fa fa-#{ name } #{ cls }")
  if(block)
    != '&nbsp;'
    block

mixin btn(name, cls)
  button.tool
    i(class="fa fa-#{ name } #{ cls }")

mixin pli(index)
  table
    tr
      th
        +icon("square", "drag-pair")
        var(class="index")
          = index
      td
        table
          block

mixin pair(key, value, type, state)
  tr
    th(class="var #{ type }")
      +icon("square", "drag-pair")
      var(class="#{ state }", contenteditable, spellcheck="false")
        = key
    td(class="data #{ type }")
      if block
        block
      else
        data(contenteditable, spellcheck="false")= value

mixin pairi(icon, value, type)
  tr
    th(class="var #{ type }")
      var
        +icon(icon)
    td(class="data #{ type }")
      if block
        block
      else
        data(contenteditable, spellcheck="false")= value

mixin pairl(key, state)
  tr
    th(colspan=2)
      +icon("square", "drag-pair")
      var(class="#{ state }", contenteditable, spellcheck="false")
        = key
  tr
    td.sub(colspan=2)
      block

mixin pairf(key, value, type, state)
  tr
    th(class="var #{ type }")
      +icon("stop", "drag-pair")
      var(class="#{ state }")
        = key
    td(class="data #{ type }")
      if block
        block
      else
        data(contenteditable, spellcheck="false")= value